/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  background: #121647;
  color: #fff;
  height: max(100vh, 600px);
  font-family: "Rubik", sans-serif;
}
